
.count{
  max-width: 49rem;
  margin: 0 auto;
  padding: 4rem 1.3rem 0.65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createdTask{
  color: var(--blue-300);
  font-size: 0.875rem;
  font-weight: bold;
}

.done{
  color: var( --purple-300);
  font-size: 0.875rem;
  font-weight: bold;  
}

.createdTask span, .done span{
  margin-left: 2px;
  border-radius: 8px;
  padding: 0.1rem 0.45rem 0.1rem;
  background-color: var( --gray-400);;
  color: var( --gray-200);
  font-size: 0.75rem;
  font-weight: bold;
}

.item{
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background-color: var(--gray-500);
  max-width: 49rem;
  margin: 0 auto;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.65rem
}

.itemText{
  color: var( --gray-100);
  font-weight: 300;
}

.trash{
  padding: 0.1rem;
  margin-bottom: 0.5rem;
}

